@import "./container.scss";
@import "./timeline.scss";

// https://cdnjs.com/libraries/font-awesome
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css");

html,
body {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;

	background: #2d2a38;
	color: #ededef;

	display: flex;
	justify-content: center;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #3ea6ff;

	&:hover {
		color: #3e77ff !important;
	}

	&:visited {
		color: #3ea6ff;
	}
}

header {
	text-align: center;

	h1 {
		font-size: 3rem;
	}
}

.button {
	background-color: #2a6df4;

	padding: 0.5rem;
	border: none;
	border-radius: 0.25rem;

	&:hover {
		background-color: #eeeeee;
	}

	&,
	&:visited {
		font-size: large;
		color: white;
	}
}
