@import "./container.scss";
@import "./timeline.scss";

// https://cdnjs.com/libraries/font-awesome
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css");

html,
body {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;

	background: #2d2a38;
	color: #ededef;

	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;

	&:hover {
		font-weight: lighter;
	}
}

header {
	text-align: center;

	h1 {
		font-size: 3rem;
	}
}
