$background: #2d2a38;
$component: #21202b;

$text: #ededef;
$greyText: #79797c;

$item1: #2a6df4;
$item2: #313135;

@import "./anchor.scss";
@import "./container.scss";
@import "./header.scss";

html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	background: $background;
	color: $text;

	display: flex;
	justify-content: center;
}
