.timeline {
	margin-top: 5rem;

	// vertical line
	&::before {
		content: "";

		position: absolute;
		left: calc(50% - 20rem);

		height: 100%;
		width: 2px;

		background-color: white;
	}

	.entry {
		position: relative;
		left: 6.1rem;
		width: 80%;

		display: flex;

		border-radius: 4px 0 4px 4px;

		padding: 1rem;
		margin-bottom: 5rem;

		background-color: #21202b;

		// triangle
		&::before {
			content: "";
			position: absolute;

			height: 1rem;
			width: 1rem;

			top: 0;
			left: -13px;

			background-color: inherit;
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
		}

		&:first-child,
		&:last-child {
			.icon {
				background-color: rgb(42, 109, 244);
			}
		}

		.icon {
			position: absolute;

			display: flex;
			flex-shrink: 0; // do not shrink
			justify-content: center;
			align-items: center;

			top: -1.5rem;
			left: -5rem;

			height: 3rem;
			width: 3rem;
			border-radius: 50%;

			border: 3px solid white;
			border-radius: 50%;

			background-color: #313135;
		}

		.item {
			.content {
				h2 {
					line-break: auto;
				}
			}
		}

		.accent {
			background-color: #2a6df4 !important;
		}

		.date {
			color: #79797c;
			text-transform: uppercase;
			font-size: 0.9rem;
			letter-spacing: 0.1rem;
		}
	}
}

// when screen width is greater than 64rem
@media (min-width: 64rem) {
	.timeline {
		// vertical line
		&::before {
			left: 50%;
		}

		.entry {
			width: 500px;

			// left side

			&:nth-child(odd) {
				transform: translateX(-26.2rem);
				text-align: right;
				flex-direction: row-reverse;

				// triangle
				&::before {
					left: 100%;

					height: 1rem;
					width: 1rem;

					clip-path: polygon(0 0, 100% 0, 0 100%);
				}

				.icon {
					left: 35.1rem;
				}

				.item::before {
					left: auto;
					right: calc(-1 * 12px + 1px);
					transform: scaleX(-1);
				}

				.item:first-child {
					border-top-right-radius: 0;
				}

				.date {
					text-align: left;
					left: 640px;
					transform: translateY(-50%);
				}
			}

			// right side

			&:nth-child(even) {
				transform: translateX(14rem);
				text-align: left;
				margin-left: auto;

				.icon {
					left: -5.1rem;
				}

				.date {
					text-align: right;
					left: -100px;
					transform: translateX(-100%) translateY(-50%);
				}
			}

			.date {
				white-space: nowrap;
				position: absolute;
				top: 0;
				font-size: 1rem;
			}
		}
	}
}
